@model Blog.Models.Post

@{
    ViewBag.Title = "Criar Postagem";
}

<h2>Criar Postagem</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Titulo, new { @class = "control-label" })
        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Conteudo, new { @class = "control-label" })
        @Html.TextAreaFor(model => model.Conteudo, new { @class = "form-control", rows = 4 })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataPublicacao, new { @class = "control-label" })
        @Html.EditorFor(model => model.DataPublicacao, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <input type="submit" value="Criar" class="btn btn-primary" />
    </div>
}

<div>
    @Html.ActionLink("Voltar para a Lista", "Index", null, new { @class = "btn btn-default" })
</div>
