@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Lista de Postagens";
}

<h2>Lista de Postagens</h2>

<p>
    @Html.ActionLink("Criar Nova Postagem", "Create")
</p>

<table class="table">
    <tr>
        <th>Título</th>
        <th>Data de Publicação</th>
        <th>Comentários</th>
        <th>Ações</th>
    </tr>

    @foreach (var post in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => post.Titulo)</td>
            <td>@Html.DisplayFor(modelItem => post.DataPublicacao)</td>
            <td>@post?.Comentarios?.Count</td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = post?.Id })
                @Html.ActionLink("Editar", "Edit", new { id = post?.Id })
                @Html.ActionLink("Excluir", "Delete", new { id = post?.Id })
            </td>
        </tr>
    }
</table>
